.btn-1 {
    background: #fff;
    color: #d72323;
    -webkit-border-radius: 20px 0;
    -moz-border-radius: 20px 0;
    border-radius: 20px 0;
    padding: 8px 16px;
    font-size: 16px;
    display: inline-block;
    margin: 16px;
letter-spacing: 1px;
    border: 2px solid transparent;
    transition: all 0.3s cubic-bezier(0.92, 0.07, 0.3, 0.83);
}


.btn-1:hover {
    color: #fff;
    background: #d72323;
    border: 2px solid #f5eded;

}

main {
    min-height: 90vh;
    display: grid;
    place-content: center;
}
section {
position: relative;
    /*display: flex;*/
    justify-content: center;
    align-items: center;
    text-align: center;
}


.content {
    /*position: absolute;*/

}

h1 {
    letter-spacing: 1px;
    font-size: 36px;
    margin: 30px 0 10px;
}
h3 {
    letter-spacing: 1px;
    position: absolute;
    margin: 0;
    font-size: 18px;
    top: 27%;
    left: 35%;
    max-width: 19ch;
}
.homeHeadphones {
    max-width: 884px;
    width: 100%;
    height: auto;
    display: block;
    margin: 0 -10px 0 0 ;
}

@media all and (max-width: 768px) {
main {

}
    h1 {
        font-size: 32px;
        margin: 24px;
    }
    h3 {
        margin: 0;
        font-size: 14px;
        top: -50px;
        left: 22%;
    }

}

@media all and (max-width: 1024px) and (min-width: 768px) {
    h3 {
        margin: 0;
        font-size: 14px;
        top: 25%;
        left: 37%;
    }
}