@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&display=swap');
body {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Goldman', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #d72323;
  min-height: 100vh;
  color: #f5eded;

}

ul {
  list-style: none;
}

a, a:hover {
  text-decoration: none;
  color: inherit;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
